@model TheaterClubProject.Models.TblOyuncu

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<div class="container">
<h1>Detaylar</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuFoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/Images/"+Model.OyuncuFoto)" alt="Oyun Fotoğrafı" asp-append-version=true width="160" height="230" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuAdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuAdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuTelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuTelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuDogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuDogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuDogumYeri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuDogumYeri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuMezunUni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuMezunUni)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model?.OyuncuId">Düzenle</a> |
    <a class="btn btn-outline-dark" asp-action="Index">Oyuncu Listesine Geri Dön</a>
</div>
</div>
